group Main
    source https://api.nuget.org/v3/index.json
    storage:none

    nuget Npgsql.FSharp 4.1.0
    nuget Npgsql.GeoJSON 5.0.7

group Test
  source https://api.nuget.org/v3/index.json
  framework: netstandard2.0,netcoreapp3.1,net5.0
  storage:none

  nuget Expecto
