group Main
    source https://api.nuget.org/v3/index.json
    storage:none

    nuget Npgsql.FSharp 4.0.0
    nuget Npgsql.GeoJSON 5.0.7
    
group Build
  source https://api.nuget.org/v3/index.json
  framework: netstandard2.0
  storage: none

  nuget Fake.Core.Target
  nuget Fake.IO.FileSystem
  nuget Fake.DotNet.Cli

group Test
  source https://api.nuget.org/v3/index.json
  framework: netstandard2.0,netcoreapp3.1,net5.0
  storage:none

  nuget Expecto

group Github
  git https://github.com/kaashyapan/Npgsql.FSharp.GeoJSON.git path: src/ build: "build.cmd", OS: windows
  git https://github.com/kaashyapan/Npgsql.FSharp.GeoJSON.git path: src/ build: "build.sh", OS: mono
  source https://api.nuget.org/v3/index.json
  storage:packages